<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156742088713-5uca8n9nu3hqanvsl5gpqio5ne5kvrq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156742088713-5uca8n9nu3hqanvsl5gpqio5ne5kvrq6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156742088713-r5memf8rfljdt8l0q2mpcg2oue38vhdm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDS64CO0ZelCfu7eBSPHVyS0laR9cXA7ZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>156742088713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-81f0b</string>
	<key>STORAGE_BUCKET</key> 
	<string>whatsapp-clone-81f0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156742088713:ios:0d3ab1befbfcc9dab3e0d8</string>
</dict>
</plist>